<!doctype html>
<html>

<head>
  <title>2018 Central Park Squirrel Census</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
    h1 {
      color: #fab732;
      font-size: 50pt;
      font-family: Arial;
    }


    body {
      color: white;
      font-size: 16pt;
      font-family: Arial;
      /*background-color:#F5F5DC;*/
      background: Black;
    }

    ul {
      columns: 4;
    }
  </style>

</head>

<body>
  <h1 class="strong mt-3 text-center">Squirrel Troop</h1>
  <div class="container row pt-5">
    <a href='/sightings/stats/' class='col-4'>
      <center>
        <button type="button" class='btn btn-lg btn-primary button mt-4'>Squirrels Stats Summary</button>
      </center>
    </a>
    <a href='/sightings/new/' class='col-4'>
      <center>
        <button type="button" class='btn btn-lg btn-success button mt-4'>New Spot Creation</button>
      </center>
    </a>
    <a href='/map/' class='col-4'>
      <center>
        <button type="button" class='btn btn-lg btn-danger button mt-4'>Squirrels Map Visualization</button>
      </center>
    </a>

  </div>

  <div>
    <ul>
      {% for squirrel in squirrels %}
      <li>

        <a href='{{ squirrel.Unique_squirrel_id}}'>{{ squirrel.Unique_squirrel_id }}</a>

      </li>
      {% endfor %}
    </ul>
  </div>
  <!--或者使用完整版的jquery-->
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
