<!doctype html>
<html>

<head>
  <title>Central Park Squirrels</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
    h1 {
      color: Black;
      font-size: 50pt;
      font-family: Comic Sans MS;
    }

    body {
      color: Black;
      font-size: 16pt;
      font-family: times;
      background: #EEFFD0;
    }
    p{
	    margin:35px;
	    text-indent: 2.0em;
    }

  </style>

</head>

<body>

  <h1 class="strong mt-3 text-center">Squirrels in Central Park</h1>
  </br>         <center>
    <a href='/map/' class='col-4'>

        <button type="button" class='btn btn-outline-success'>Squirrels Map</button>

    </a>
        <a href='/sightings/' class='col-4'>

        <button type="button" class='btn btn-outline-danger'>Sightings</button>
    </a>
        <a href='/sightings/stats/' class='col-4'>

        <button type="button" class='btn btn-outline-warning'>Statistics</button>

    </a>
        <a href='/sightings/add/' class='col-4'>

		<button type="button" class='btn btn-outline-info'>Add a New Squirrel</button>
    </a>
          </center>
	  </br><p> We are trying to keep track of the squirrels in the Central Park. You can find squirrels' positions in the map and their detailed information on the sightings page. You may also update their information by clicking on their ID link. We provide a statistic summary of current data in the Statistics page; and you are welcome to add new squirrels to the dataset in the Add a New Squirrel page.  
        </br> <p> Let's see where are the squirrels ^^
	  <center>
    <a href='/map/' class='col-4'>
      
        <button type="button" class='btn btn-info'>Find them in the map!</button>
      
    </a>
        <a href='/sightings/' class='col-4'>

		<button type="button" class='btn btn-warning'>See unique squirrel information -></button>
    </a>
	  </center>
 
	    <center>
  <img src='https://render.fineartamerica.com/images/rendered/default/wood-print/12/7/break/images/artworkimages/medium/2/cute-squirrel-kativ.jpg' >
  </center>
  <div>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>
