<!doctype html>
<html>

<head>
  <title>Squirrel sightings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
    h1 {
      color: Black;
      font-size: 50pt;
      font-family: Comic Sans MS;
    }

    body {
      color: #FFB5A5;
      font-size: 16pt;
      font-family: times;
      background: #EEFFD0;
      margin: 50px 100px; 
    }

    ul {
      columns: 2;
    }
  </style>

</head>

<body>
  <h1 class="strong mt-3 text-center">List of Unique Squirrels</h1>
	<center>
  <br> 
  <a href='' class='col=4'>
	<button type="button" class='btn btn-outline-danger'>Homepage</button>
    </a> 
  <a href='/map/' class='col-4'>
        <button type="button" class='btn btn-outline-success'>Squirrels Map</button>
    </a>
  <a href='/sightings/stats' class='col-4'>
        <button type="button" class='btn btn-outline-warning'>Statistics</button>
    </a>
  <a href='/sightings/add/' class='col-4'>
        <button type="button" class='btn btn-outline-info'>Add a New Squirrel</button>
    </a>
	</center>
  <br> 

  <div>
    <ul>
      {% for squirrel in squirrels %}
      <li>
        ID: <a href='/sightings/{{squirrel.Unique_squirrel_id}}/'>{{ squirrel.Unique_squirrel_id }}</a>
	Date: {{squirrel.Date}}
      </li>
      {% endfor %}
    </ul>
  </div>

</body>
</html>
