<!doctype html>
<html>

<head>
  <title>Squirrel sightings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
    h1 {
      color: Black;
      font-size: 50pt;
      font-family: Comic Sans MS;
    }

    body {
      color: #FFB5A5;
      font-size: 16pt;
      font-family: times;
      background: #EEFFD0;
    }

    ul {
      columns: 4;
    }
  </style>

</head>

<body>
  <h1 class="strong mt-3 text-center">List of Unique Squirrels</h1>
  <div class="nav-scroller py-1 mb-2">
   <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/sightings/stats/">Statistics</a >
      <a class="p-2 text-muted" href="/sightings/add/">Add new Squirrel</a >
   </nav>
  </div>
  <div>
    <ul>
      {% for squirrel in squirrels %}
      <li>

        <a href='/sightings/{{squirrel.Unique_squirrel_id}}/'>{{ squirrel.Unique_squirrel_id }}</a>

      </li>
      {% endfor %}
    </ul>
  </div>

</body>

</html>
