<!doctype html>
<html>

<head>  
   <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

   <style type="text/css"> 
      h1 {
        color: Black; 
	font-size: 50pt; 
	font-family: Comic Sans MS; 
        } 
      body {
      	color: #000000;
      	font-size: 16pt;
      	font-family: times;
      	background: #EEFFD0; 
      	text-align: center;
	margin: 150px 200px;  
      }
      p {
	margin: 40px 200px; 
      } 
   </style> 
</head> 

<body>
   <h1 class="strong mt-3 text-center">
      <center>Add a New Squirrel</center> 
   </h1> 

   <form action='.' method="post">
      {% csrf_token %}
      {{ form.as_p }}  
      <input type="submit" value="Add" />
   </form>
   <br>
	<a href='/sightings/' class=''><button type='button' class='button'>Return to the squirrels list</button></a>
</body>

</html> 
